/* stylesheet ig */
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Base body styles - applied to ALL screen sizes */
body {
  min-height: 100%;
  min-height: 100dvh; /* dynamic viewport height for mobile browsers */
  background: linear-gradient(to left bottom, rgb(0, 9, 74), rgb(151, 0, 189));
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.center {
  top: auto;
  left: auto;
}

img {
  transition-duration: 0.4s;
  width: 100%;
  height: 100%;
}

img:hover {
  transform: scale(.95);
}

/* Title/Logo section */
.timages {
  --colcount: 3;
  padding: 16px;
  display: grid;
  grid-template-rows: repeat(var(--colcount), 1fr);
  margin-left: auto;
  margin-right: auto;
  width: min(75vh, 90vw, 500px); /* responsive: picks smallest of these */
  max-width: 100%;
}

/* Gallery images section */
.images {
  padding: 16px;
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}

@media (max-width: 1200px) {
  .images {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .images {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .images {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .images {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.images img {
  display: inline-block;
  border-radius: 25px;
  width: 100% !important;
  height: auto !important;
  padding: 5px;
}

/* Title styling */
#title {
  font-family: "impact";
  display: flex;
  color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  background-image: url(https://media4.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif);
  color: white;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: clamp(60px, 15vw, 120px); /* responsive font size */
  line-height: .75;
  margin: 10px 0;
}

/* Main links */
.mainlinks:link {
  text-decoration: none;
}

.mainlinks:visited {
  text-decoration: none;
}

.mainlinks:hover {
  text-decoration: underline;
}

.mainlinks:active {
  text-decoration: none;
}

/* Unlisted link section */
.nonmainpages {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* Default positions for golda and cake (desktop) */
.golda {
  position: absolute;
  height: 50px;
  right: 30px;
  bottom: 30px;
}

.cake {
  position: absolute;
  left: 30px;
  bottom: 30px;
  height: 75px;
}

/* Default link styles (desktop) */
.nonmainpageslink:link {
  text-decoration: none;
  color: #9400BB;
}

.nonmainpageslink:visited {
  text-decoration: none;
  color: #9400BB;
}

.nonmainpageslink:hover {
  text-decoration: underline;
  color: black;
}

.nonmainpageslink:active {
  text-decoration: underline;
  color: black;
}

/* ========== MOBILE STYLES (600px and below) ========== */
@media only screen and (max-width: 600px) {
  body {
    /* Keep the gradient, just darker version if you want */
    background: linear-gradient(to left bottom, rgb(0, 9, 74), rgb(100, 0, 130));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100dvh;
    overflow-y: auto;
  }

  .timages {
    width: 85vw;
    max-width: 350px;
    padding: 10px;
  }

  .golda {
    position: absolute;
    height: 25px;
    right: 15px;
    top: 15px;
    bottom: auto;
    left: auto;
  }

  .cake {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: auto;
    right: auto;
    height: 30px;
  }

  .nonmainpageslink:link {
    text-decoration: none;
    color: rgba(148, 0, 187, 0.5);
  }

  .nonmainpageslink:visited {
    text-decoration: none;
    color: rgba(148, 0, 187, 0.5);
  }

  .nonmainpageslink:hover {
    text-decoration: underline;
    color: #9400BB;
  }

  .nonmainpageslink:active {
    text-decoration: underline;
    color: #9400BB;
  }
}