/* makes is so like width includes padding */
* {
  box-sizing: border-box;
}

/* On screens that are 600px wide or less */
@media only screen and (max-width: 900px) {
	.topnav a {
		float: none;
		width: 100%;
	}
	
	.display-img {
		display: block;
		width: 50%;
		float: left;
		padding: 5px;
	}
	
	.display-img::after {
		content: "";
		clear: both;
		display: table;
	}
	
	/* center the logo and add spacing ig */
	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 70px;
		height: 70px;
	}
	/* center the logo and add spacing ig */
	.big-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 25%;
	}

	/* center the logo and add spacing ig */
	.super-big-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 100%;
	}
}


/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #333333;
	color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: gray;
	color: white;
}


@media only screen and (min-width: 900px) {
	/* center the logo and add spacing ig */
	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 95px;
		height: 95px;
	}

	/* center the logo and add spacing ig */
	.big-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 170px;
		height: 170px;
	}

	/* center the logo and add spacing ig */
	.super-big-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		height: 100%;
	}

	/* format the images so they um aren't shitty? */
	.display-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}